<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body>

  <%date_time= Time.now%>
  <p>The date is <%=date_time.strftime("%A, %B %d, %Y")%></p>
<%# 
  Using ERB tags, and the DateTime library, display today's date in a p tag.
   The date should be formatted to look something like this The date is Wednesday, November 18, 2015. %>

  </body>
</html>